---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Premios ESLAND 2024 - Celebrando lo mejor del streaming y los creadores de contenido">
	<Video />
	<main>
	<Intro />
	<Bento />
	<PreFooter />
	

	</main>
	<Footer />
</Layout>

<style>
	
</style>
