---
import BentoItem from './BentoItem.astro'
---
<section
    class={`
        w-full max-w-[1400px]
        grid grid-cols-10 auto-rows-[35rem] gap-4
        mx-auto p-20
    `}>

   <BentoItem title="ANDORRA: EL CÉNIT DE LOS PREMIOS ESLAND"/>
   <BentoItem title="LA ALFOMBRA BLANCA" subtitle="16 de febrero de 2024"/>
   <BentoItem title="LA GALA" subtitle="17 de febrero de 2024"/>
   <BentoItem title="DISFRUTA DEL REDDIT DE LA COMUNIDAD"/>

</section>