<section class="text-xl">
    <img  class="w-16 mb-10 m-auto" src="/logo.png" alt="Logo de los Esland">

    <h1 class="text-5xl font-semibold text-center text-wrap mx-auto mb-10 trancking-wide">
        Bienvenidos/as <br /> a los premios ESLAND
    </h1>
</section>