<div class="w-full relative">
    <video src="/Video.mp4" autoplay loop muted class="w-full h-auto"
    style="clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 50% 100%, 0 85%"></video>
    <video src="/Video.mp4" autoplay loop muted class="absolute -bottom-48 blur-3xl -z-40"
   ></video>
</div>